*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
:root{
    --red: #e30613;
    --white:#fff;
    --hanwhaB:"hanwhaB";
    --black:#191919;
    --yellow:#ffc863;
}
body.menu-open{
    overflow: hidden;
}
html{
    background-color: var(--black);
}

header{
    width: 100%;
    height: 130px;
    padding: 25px 30px 0 60px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 1;

}
header:hover{
    background-color: rgba(0, 0,0, 0.85);
}
#logo{
    width: 60px;
    float: left;
}
#logo img{width: 100%;}
#nav>li{

    height: 84px;
    position: absolute;
}
#nav>li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -21px;
    width: 0;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: var(--red);

}
#nav>li:nth-of-type(1){
    left: 100px;
}
#nav>li:nth-of-type(2){
    left: 300px;
}
#nav>li:nth-of-type(3){
    left: 500px;
}
#nav>li:nth-of-type(4){
    left: 700px;
}
#nav>li:hover::after{
    width: 100%;
    opacity: 1;
}
#nav>li ,#login>li{
    float: left;
    margin-left: 50px;
    line-height: 84px;
}

#nav,#nav a{
    
    color:var(--white);
    font-family:var(--hanwhaB);
    cursor: pointer;
    
}
#nav>li:hover,#nav>li:hover a{
    color: var(--red);
}


#login{
    position: absolute;
    right: 30px;
}
#login a{
    color: #ffffff80;
    font-family:"hanwhaB";
}
#login a:hover{color: var(--white)}
.isNav{
    display: flex;
    opacity: 0;    
}
#menu-bar{
    width: 24px;
    position:absolute; 
    right: 5%;
    top: 25%;
    display: none;
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(0);
}
#menu-bar img{width: 100%;}
.isNav>li{
    width: 100px;
}
#nav .isNav>li>a{
    color: #fff;
}
#nav .isNav>li:hover>a{
    color: var(--red);
}
.slideDown{
    opacity: 1;
    position: absolute;
    top: 100px;
   
}
#sub-menu{
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    position: absolute;
    z-index: 11;
    top: 0;
    display: none;
}
#sub-menu-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 14px;
    box-sizing: border-box;
}
#sub-menu-bar .home{
    transition: transform 0.4s ease;
    width: 5vw;
}
#sub-menu-bar .home.right{
     transform: translateX(20px);
     transition: 0.3s;
        
}
#sub-menu-bar .cancle{
    cursor: pointer;
    width: 28px;
}
#sub-menu-bar img{
    width: 100%;
}
#sub-auth{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#sub-auth div{
    width: 92px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: var(--hanwhaB);
    border-radius: 20px;
    text-align: center;
}
#sub-auth div a{
    color: rgba(255, 255, 255, 0.3);
}

#sub-menu-box{
     height: 100%;
    display: flex;
}
#sub-menu-left{
    width: 50%;
    color: var(--white);
    font-family: var(--hanwhaB);
    padding: 2vw 24px;
    box-sizing: border-box;
    border-right:1px solid rgba(255, 255, 255, 0.3);
}
#sub-menu-left>li{
    line-height: 4;
    cursor: pointer;
}
#sub-menu-left>li.active{
    color: var(--red);
}
#sub-menu-left>li:hover{
    color: var(--red);
}
#sub-menu-right{
    width: 50%;
    padding: 3vw 24px;
    background-color: rgba(255, 255, 255, 0.1);

}
#sub-menu-right ul{
    display: none;
}
#sub-menu-right a{
    line-height: 3;
    color: var(--white);

}#sub-menu-right a:hover{
    color: var(--red);
}

main{
    width: 100%;
    background-color: var(--black);
}
#video{
    width: 100%;
    position: relative;
    top: -130px;
}
#video video{
    width: 100%;
    height: 100%;
}
#video #mainTitle{
    color: #e30613;
    font-family: var(--hanwhaB);
    font-size: 3vw;
    position: absolute;
    z-index: 2;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
#video button{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    top: 57%;
    padding: 20px;
    border-radius: 30px;
    border: none;
    background-color: #ffffffa1;
    
}
#video button:hover,#video button:hover>a{
    background-color: var(--red);
    color: #fff;
}
#video button>a{
    font-family: var(--hanwhaB);
    color: #191919;

}
#content1{
    width: 100%;
    background-color:var(--white);
    border-radius: 35px 35px 0 0 ;
    box-sizing: border-box;
}
#news-box{
    padding: 80px 116px;
}
#news{
    display: flex;
    justify-content:space-between ;
}
#news h2{
    color: var(--black);
}
#news a{
    width: 48px;
    height: 48px;
    transform: rotate(90deg);
}
#news a>img{
    width: 100%;
}
.con-box{
    width: 100%;
    height: 500px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 80px 116px;
    box-sizing: border-box;
    transition: transform 0.8s ease;
}
.con-box:nth-of-type(3){transition-delay: 0.5s;}
.con-box:nth-of-type(4){transition-delay: 0.7s;}
.con-text{
    width: 59%;
    
}
.con-text h2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 92px;
    line-height: 2;
}
.con-text p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-align: left;
    font-size: 19px;
    line-height: 1.7;
}
.con-text .newsbox{

    display: inline-block;
    color: #fff;
    background-color: var(--yellow);
    padding: 7px 25px;
    border-radius: 20px;
}
.con-box .con-img{
    width:36%;
    background-size: 100% 100%;
    background-position:center;
    border-radius:30px;
    background-repeat: no-repeat;
}
.con-box .con-img:hover{
    background-size: 110% 110%;
    transition: 0.3s;
}
.con-box:nth-of-type(2) .con-img{
    background-image: url(./../img/main/new_img1.jpeg);
}
.con-box:nth-of-type(3) .con-img{
    background-image: url(./../img/main/news_img2.jpg);
}
.con-box:nth-of-type(4) .con-img{
    background-image: url(./../img/main/news_img3.jpg);
}
.con-box:nth-of-type(2){
    transform: translateY(100px);
}
.con-box:nth-of-type(3){
    transform: translateY(-90px);
    background-color: var(--red);
    color: #fff;
}
.con-box:nth-of-type(4){
    transform: translateY(-290px);        
    background-color: var(--black);
    color: #fff;
}
#content2{
    width: 100%;
    position: relative;
    top: -150px;
}

#content2 video{
    width: 100%;
    height: 100%;
    
    

}

#content2 h2{
    position: absolute;
    font-size: 83px;
    color: var(--black);
    top: -17.5%;
    font-weight: 700;
    font-family: var(--hanwhaB);
    left: 50px;
}
#content2 .player-btn{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 4%;
    left: 50px;
    background-image: url(./../img/main/right-svgrepo-com_wihite.svg.png);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease;
    border: 2px solid transparent;
}
.player-btn:hover{
    transform: scale(1.1);
    border: 2px solid #fff;

}

.player-btn img{
    width: 100%;
}

#player-img{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content:center ;
    position: absolute;
    top: 20%;

}
#player-img .img-box{
    width:22%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 80px 20px;
    border-radius: 15px;
    line-height: 30px;
    transition: transform 0.8s ease-in-out;
    perspective: 1000px;
     
    

}
 /* .img-box:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    perspective: 2000px;
    
 } */

.flip{
    transition: 0.6s; 
    transform-style: preserve-3d;
    animation: fliped 1s forwards;

}
@keyframes fliped{
    100%{transform: rotateY(360deg);}
}
.img-box:nth-of-type(2){transition-delay: 0.5s;}
.img-box:nth-of-type(3){transition-delay: 0.75s;}
.img-box:nth-of-type(4){transition-delay: 1s;}

#player-img .img-box img{
    width: 100%;
}


#player-img .img-box:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: #191919;
}
#content3{
    width: 100%;
    padding: 70px;
    box-sizing: border-box;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

}
#content3 .con-box3{
    width: calc(100% / 2);
    flex: 1;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 60px 80px;
    
}   
.con-box3 .icon{
    width: 80px;
    height: 85px;
    background-position: center;
    background-size: 90% 90%;
    transition: 0.3s;
    background-repeat: no-repeat;
    
}
.con-box3:nth-of-type(1) .icon{background-image: url(./../img/snslogo.png);}
.con-box3:nth-of-type(2) .icon{background-image: url(./../img/naver.png);}
.con-box3:nth-of-type(3) .icon{background-image: url(./../img/instagram.png);}
.con-box3:nth-of-type(4) .icon{background-image: url(./../img/youtube.png);}
.con-box3 .icon:hover{background-size: 100% 100%;}

footer{
    width: 100%;
    background-color: var(--black);
  
}
footer #logo-img{
    width: 125px;
}
footer #logo-img img{
    width: 100%;
}
footer #foot-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 60px 0;
    box-sizing: border-box;


}
footer #text{
    width: 695px;
    text-align: right;
}
footer #text h3{
    color: #fff;
}
footer #text p{
    color: #808080;
    font-size: 11px;
    margin-top: 50px;
}
#foot-bottom{
    width: 100%;
    border-top:1px solid #808080;
    padding:  0 60px;
    box-sizing: border-box;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#foot-left{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-size: 12px;
}
#foot-left #logo{
    width: 80px;
}
#foot-left #logo img{width: 100%;}
#foot-right{
    display: flex;
    gap: 10px;
}
#foot-right img{width: 24px;}



@media screen and (max-width:1500px) {
    #content1{
        padding: 35px 0;
    }
    #content1 .con-box{
        height: 100%    ;
        display: flex;
        flex-direction: column;
        align-items: center ;
        gap: 40px   ;
    }
    #content1 .con-img{
        width: 100%;
        height: 45vw;
        order: 1;
    }
    .con-img img{
        height: 100%;
    }
    .con-box .con-text{order: 2 ;}
    .con-text h2{
        font-size: 6vw;
        line-height: 1.3;
    }
    
}
@media screen and (max-width:1280px){
    header{
        border: none;
    }
    header:hover{background-color: transparent;}
    header #logo{
        width: 5vw;
        position:absolute;
        transform: translateX(30px);
        top: 15%;
        transition: transform 0.3s ease;
    }
    header #logo.left{
        transform: translateX(10px);
    }
    #nav{display: none;} 
    #login{display: none;}
    #menu-bar{display: block;}
    #player-img{
        display: none;
    }
    #player-img .img-box{
        width: 44%;
        overflow: hidden;
    }
    #content2 h2{
        top: -33.5%;
    }
    .isNav{display: none;}
}
@media screen and (max-width : 1100px) {
    footer #text{
        display: none;
    }    
}
@media screen and (max-width : 1000px) {
    #content2 h2{
        top: -47.5%;
    }
}
@media screen and (max-width:900px){
    
    #video button{display: none;}
    #content2 h2{
        top:-57.5%;
    }
}
@media screen and (max-width:730px) {
    header{
        padding: 2.5vw 3vw 0 3vw;
    }
    #menu-bar{
        top: 15%;
    }
    #sub-menu-bar .home{
        width: 7vw;
    }
    header #logo{
        width: 8vw;
        top: 10%;
    }
    #news-box {
        padding: 24vw 10vw;
    }
    .con-text .newsbox {
        padding: 1vw 3vw;
    }
    .con-text h2{
        font-size: 4vw;
    } 
    .con-text p{
        font-size: 3vw;
        margin-top: 10px;
    } 
    #content1 .con-box{
   
        padding:35px 20px;
    }
    .con-box .con-text{
        width: 97%;
    } 
    #content2 h2{
        font-size: 12vw;
        top:-81.5%;
    }
     footer #logo-img{
        width: 13vw;
    }
    #foot-bottom{
        padding: 0 6vw;
    }
}

@media screen and (max-width:520px) {
    #sub-menu-bar .home{
        width: 9vw;
}
    #content3 .con-box3 {
        padding: 2vw 7vw;
    }
    .con-box3 .icon{
        width: 13vw;
        height: 13vw;
    }
    #content3 .text h3{
        font-size: 2.5vw;
    }    
    #content3 .text p{
        font-size: 2vw;
    }
    #foot-left p{
        display: none;
    }
}