*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
:root{
    --red: #e30613;
    --white:#fff;
    --hanwhaB:"hanwhaB";
    --black:#191919;
    --yellow:#ffc863;
}
html{
    background-color: var(--black);
}
body.menu-open{overflow: hidden;}
header{
    width: 100%;
    height: 130px;
    padding: 25px 30px 0 60px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 1;

}
header:hover{
    background-color: rgba(0, 0,0, 0.85);
}
#logo{
    width: 60px;
    float: left;
}
#logo img{width: 100%;}
#nav>li{

    height: 84px;
    position: absolute;
}
#nav>li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -21px;
    width: 0;
    height: 2px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: var(--red);

}
#nav>li:nth-of-type(1){
    left: 100px;
}
#nav>li:nth-of-type(2){
    left: 300px;
}
#nav>li:nth-of-type(3){
    left: 500px;
}
#nav>li:nth-of-type(4){
    left: 700px;
}
#nav>li:hover::after{
    width: 100%;
    opacity: 1;
}
#nav>li ,#login>li{
    float: left;
    margin-left: 50px;
    line-height: 84px;
}

#nav,#nav a{
    
    color:var(--white);
    font-family:var(--hanwhaB);
    cursor: pointer;
    
}
#nav>li:hover,#nav>li:hover a{
    color: var(--red);
}


#login{
    position: absolute;
    right: 30px;
}
#login a{
    color: #ffffff80;
    font-family:"hanwhaB";
}
#login a:hover{color: var(--white)}
.isNav{
    display: flex;
    opacity: 0;    
}
#menu-bar{
    width: 24px;
    position:absolute; 
    right: 5%;
    top: 25%;
    display: none;
    cursor: pointer;
}
#menu-bar img{width: 100%;}
.isNav>li{
    width: 100px;
}
#nav .isNav>li>a{
    color: #fff;
}
#nav .isNav>li:hover>a{
    color: var(--red);
}
.slideDown{
    opacity: 1;
    position: absolute;
    top: 100px;
   
}
#sub-menu {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    position: absolute;
    z-index: 11;
    top: 0;
    display: none;
}

#sub-menu-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 14px;
    box-sizing: border-box;
}

#sub-menu-bar .home {
    transition: transform 0.4s ease;
    width: 5vw;
}

#sub-menu-bar .home.right {
    transform: translateX(20px);
    transition: 0.3s;

}

#sub-menu-bar .cancle {
    cursor: pointer;
    width: 28px;
}

#sub-menu-bar img {
    width: 100%;
}

#sub-auth {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#sub-auth div {
    width: 92px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: var(--hanwhaB);
    border-radius: 20px;
    text-align: center;
}

#sub-auth div a {
    color: rgba(255, 255, 255, 0.3);
}

#sub-menu-box {
    height: 100%;
    display: flex;
}

#sub-menu-left {
    width: 50%;
    color: var(--white);
    font-family: var(--hanwhaB);
    padding: 2vw 24px;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#sub-menu-left>li {
    line-height: 4;
    cursor: pointer;
}

#sub-menu-left>li.active {
    color: var(--red);
}

#sub-menu-left>li:hover {
    color: var(--red);
}

#sub-menu-right {
    width: 50%;
    padding: 3vw 24px;
    background-color: rgba(255, 255, 255, 0.1);

}

#sub-menu-right ul {
    display: none;
}

#sub-menu-right a {
    line-height: 3;
    color: var(--white);

}

#sub-menu-right a:hover {
    color: var(--red);
}

main{
    width: 100%;

}
#main-top{
    width: 100%;
    height: 63vw;
    background-image: url(./../img/news/stardium.jpg);
    background-position: center;
    background-size: 100% 170%;
    position: relative;
    top: -130px;
    
}
#main-top h2{
    font-size: 6vw;
    text-align: center;
    position: absolute;
    font-weight: 700;
    color: var(--black);
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}
#news{
    width: 100%;
    margin-top: 100px;
    padding: 0 8vw;
    box-sizing: border-box;
}
.news_content{
    box-sizing: border-box;
   
}
.news_content>li{
     padding: 60px 0;
    border-bottom: 1px solid #808080;
}
.news_content>li>a{
    display: flex;
    align-items: center ;
}
.new_img{
    width: 400px;
    height: 14vw;
    overflow: hidden;
    border-radius: 16px;
}
.new_img img{
    width: 100%; height: 100%;
    border-radius: 16px;
}
.new_text{
    width: calc(100% - 400px);
    padding-left: 80px; 
    box-sizing: border-box;
    transform: translateY(7vw);
     
    
}
.new_text>h2{
    font-size: 28px;
    color: #fff;
}
.new_text>p{
    font-size: 18px;
    color: #808080;
    
}
.new_text>p{
    
    margin: 1.6vw 0 4vw;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}
.news_bnt1{
     display: flex;
     justify-content: center;
     padding-bottom: 200px;
    
    }
.news_bnt1>a{
    display: block;
    padding: 0 30px 10px 30px ;
    border-radius: 10px;
    background-color: #fff;
}
.news_bnt{ 
    width: 40px; height: 30px;
    background-image: url(./../img/arrow-down-svgrepo-com.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;

}
.news_bnt1>a:hover{
    
    background-color: #ca0a22;
}

.news_bnt1>a:hover .news_bnt{
    
    background-color: #ca0a22;
}   
footer{
    width: 100%;
    background-color: var(--black);
  
}
footer #logo-img{
    width: 125px;
}
footer #logo-img img{
    width: 100%;
}
footer #foot-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 60px 0;
    box-sizing: border-box;


}

footer #text{
    width: 695px;
    text-align: right;
}
footer #text h3{
    color: #fff;
}
footer #text p{
    color: #808080;
    font-size: 11px;
    margin-top: 50px;
}
#foot-bottom{
    width: 100%;
    border-top:1px solid #808080;
    padding:  0 60px;
    box-sizing: border-box;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#foot-left{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-size: 12px;
}
#foot-left #logo{
    width: 80px;
}
#foot-left #logo img{width: 100%;}
#foot-right{
    display: flex;
    gap: 10px;
}
#foot-right img{width: 24px;}
@media screen and (max-width:1800px) {
    .new_img{
        height: 16vw;
    }
}
@media screen and (max-width:1500px) {
    .new_img{
        height: 18vw;
    }
}
@media screen and (max-width:1280px) {
    header {
        border: none;
        padding: 5vw 1vw 0 5vw;
    }
    header:hover{background-color: transparent;}
    header #logo{
        width: 5vw;
        position:absolute;
        transform: translateX(30px);
        top: 15%;
        transition: transform 0.3s ease;
    }
    header #logo.left{
        transform: translateX(10px);
    }


    #nav {
        display: none;
    }

    #login {
        display: none;
    }

    #menu-bar{
        display: block;
        width: 24px;
        top: 43%;
        right: 11%;
    }
    #news{
        margin-top: 10vw;
    }
    .news_content>li>a{
        display: block;
    }
    .new_img{
        width: 61vw;
        height: 34vw;
        margin: 0 auto;
    }
    .new_text{
        width: 100%;
        padding-left: 0
    }
   .new_text>h2{
        font-size: 2.8vw;
   }
   .new_text>p{
    font-size: 1.8vw;
   }
}
@media screen and (max-width:1100px) {
    footer #text{
        display: none;
    }    
}

@media screen and (max-width:730px) {
     header{
        padding: 2.5vw 3vw 0 3vw;
    }
    #menu-bar{
        top: 15%;
    }
    #sub-menu-bar .home{
        width: 7vw;
    }
    
    header #logo{
        width: 8vw;
        top: 10%;
    }
    footer #logo-img{
        width: 13vw;
    }
}
@media screen and (max-width:630px) {

    #foot-bottom{
        padding: 0 6vw;
    }
}
@media screen and (max-width:520px) {
     #sub-menu-bar .home{
        width: 9vw;
}
    #menu-bar{
        top: 17%;
    }
    #main-top p{
        padding: 7vw;
        box-sizing: border-box;
        font-size: 5vw;
    }
    #foot-left p{
        display: none;
    }
}